################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/APIIdenttity/.vs
/APIIdenttity/WebAPIBase/bin/Debug/net6.0
/APIIdenttity/WebAPIBase/obj
/APIIdenttity/APIIdentity/bin/Debug/net6.0
/APIIdenttity/APIIdentity/obj
/logs
